<!DOCTYPE html>
<html>
<head>
    <title>Login | FarmConnect</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="auth-page">

    <div class="auth-box">

        <div class="auth-logo">🌾</div>

        <h1>Welcome Back</h1>

        <p>Login to your FarmConnect account</p>

        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endwith %}

        <form method="POST">

            <label>Email</label>
            <input type="email"
                   name="email"
                   placeholder="Enter your email"
                   required>

            <label>Password</label>
            <input type="password"
                   name="password"
                   placeholder="Enter your password"
                   required>

            <button type="submit">
                Login →
            </button>

        </form>

        <p class="auth-bottom">
            Don't have an account?
            <a href="/register">Create Account</a>
        </p>

    </div>

</div>

</body>
</html>